swagger: "2.0"
info:
  description: "These are the APIs to provision and configure services from Eis Service Provider"
  version: 1.0.7
  title: Eis Api
  contact:
    email: sviluppo@teameis.it
host: api.eisgroup.it
basePath: /
externalDocs:
  description: Find out more about our solutions
  url: https://wiki.teameis.it
tags:
  - name: dss
    description: Dema Sip Server
    externalDocs:
      description: Find out more
      url: https://wiki.teameis.it/it/VoIP/Eis-Trunksip
  - name: carrier
    description: DSS services made for Carriers
schemes:
  - https
paths:
  /dss/carrier/gtwnumber:
    post:
      tags:
        - carrier
      summary: Add new prefix to WxC
      description: ""
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: JSON object describing the prefix that needs to be added to WxC
          required: true
          schema:
            $ref: "#/definitions/gtwnumber"
      responses:
        "200":
          description: Response body
          schema:
            $ref: "#/definitions/gtwnumbersuccessful"
    delete:
      tags:
        - carrier
      summary: Remove existing prefix from WxC
      description: ""
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: JSON object describing the prefix that needs to be added to WxC
          required: true
          schema:
            $ref: "#/definitions/gtwnumber"
      responses:
        "200":
          description: Response body
          schema:
            $ref: "#/definitions/gtwnumbersuccessful"
  /dss/carrier/gtwnumber/exists:
    get:
      tags:
        - carrier
      summary: Check if number has already been configured
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: JSON object containing the number that we need to check
          required: true
          schema:
            $ref: "#/definitions/gtwnumberexistsbody"
      responses:
        "200":
          description: Response body
          schema:
            $ref: "#/definitions/gtwnumberexistsresponse"
  /dss/carrier/gtwnumber/cf:
    put:
      tags:
        - carrier
      summary: Set call forwarding on a per-number basis
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: |
            JSON Object with the following parameters:
            **number**: The number that needs to be forwarded
            **cfnumber**: - The number where the calls should we forwarded to
          required: true
          schema:
            $ref: "#/definitions/gtwnumbercfadd"
      responses:
        "200":
          description: Response body
          schema:
            $ref: "#/definitions/gtwnumbercfresponse"
  /dss/carrier/gtwnumber/removecf:
    put:
      tags:
        - carrier
      summary: Remove call forwarding on a per-number basis
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: |
            JSON Object with the following parameters:
            **number**: The number that is currently forwarded
          required: true
          schema:
            $ref: "#/definitions/gtwnumbercfremove"
      responses:
        "200":
          description: Response body
          schema:
            $ref: "#/definitions/gtwnumbercfresponse"

securityDefinitions:
  BasicAuth:
    type: basic
definitions:
  gtwnumbersuccessful:
    type: object
    properties:
      success:
        type: boolean
  gtwnumber:
    type: object
    properties:
      prefix:
        type: string
        description: Must be in E.164 format
      size:
        type: integer
        enum: [1, 10, 100, 1000]
        description: Must be one of 1,10,100,1000
  gtwnumberexistsbody:
    type: object
    properties:
      number:
        type: string
  gtwnumbercfadd:
    type: object
    properties:
      number:
        type: string
      cfnumber:
        type: string
  gtwnumbercfremove:
    type: object
    properties:
      number:
        type: string
  gtwnumberexistsresponse:
    type: object
    properties:
      success:
        type: boolean
      body:
        type: boolean
        description: Will be set to true if the number is present
  gtwnumbercfresponse:
    type: object
    properties:
      success:
        type: boolean
        description: Will be set to true if the number is present
