swagger: '2.0'
info:
  description: 'These are the APIs to provision and configure services from Eis Service Provider'
  version: 1.0.6
  title: Eis Api
  contact:
    email: sviluppo@teameis.it
host: api.eisgroup.it
basePath: /
externalDocs:
  description: Find out more about our solutions
  url: https://wiki.teameis.it
tags:
  - name: dss
    description: Dema Sip Server
    externalDocs:
      description: Find out more
      url: https://wiki.teameis.it/it/VoIP/Eis-Trunksip
  - name: carrier
    description: DSS services made for Carriers
schemes:
  - https
paths:
  /dss/carrier/gtwnumber:
    post:
      tags:
        - carrier
      summary: Add new prefix to WxC
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: JSON object describing the prefix that needs to be added to WxC
          required: true
          schema:
            $ref: '#/definitions/gtwnumber'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/gtwnumbersuccessful'
    delete:
      tags:
        - carrier
      summary: Remove existing prefix from WxC
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: JSON object describing the prefix that needs to be added to WxC
          required: true
          schema:
            $ref: '#/definitions/gtwnumber'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/gtwnumbersuccessful'
  
securityDefinitions:
  BasicAuth:
    type: basic
definitions:
  gtwnumbersuccessful:
    type: object
    properties:
      success:
        type: boolean
  gtwnumber:
    type: object
    properties:
      prefix:
        type: string
      size:
        type: integer
        enum: [1,10,100,1000]
        description: Must be one of 1,10,100,1000

